body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    background: linear-gradient(white, rgb(92, 173, 224));
    height: 100lvh;
}

button {
    width: 100px;
    margin: 10px;
}

img {
    width: 400px;
    border: 2px solid yellowgreen;
    visibility: hidden;
}

section#team {
    font-size: 20px;
    color: blueviolet;
}

li {
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
    margin: 4px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: blue;
    color: white;
}